/* bio section */
#about_me {
	height: 336px;
	background-color: rgb(20, 20, 20);
	color: white;
	font-family: 'Voces', Arial, sans-serif;
}

#bio_pic {
	height: 236px;
	padding: 50px;
}

#bio {
	width: 40%;
	padding: 80px;
}

/* dog section */
#dog {
	background-image: url('https://s3-us-west-2.amazonaws.com/maxkeener/images/frankie_sleep_lg.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

#dog .center-tile {
	margin-left: 8%;
	height: 80%;
}

#dog .center-tile span {
	color: white;
	font-size: 120px;
	font-weight: 700;
	display: inline-block;
	width: 50%;
	text-shadow: 2px 1px rgb(20, 20, 20);
}

/* hiking section */
#hiking {
	background-image: url('https://s3-us-west-2.amazonaws.com/maxkeener/images/zion_drop_xl.jpg');	
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
}

#hiking .center-tile {
	height: 20%;
}

#hiking .center-tile span {
	color: white;
	font-size: 120px;
	font-weight: 700;
	display: inline-block;
	text-shadow: 2px 1px rgb(20, 20, 20);
}

/*photography section*/
#photography {
	background-image: url('https://s3-us-west-2.amazonaws.com/maxkeener/images/bookshelf_lg.jpg');	
	background-size: 100%;
	background-repeat: no-repeat;
}

#photography .center-tile {
	height: 80%;
	text-align: right;
}

#photography .center-tile span {
	color: white;
	font-size: 120px;
	font-weight: 700;
	display: inline-block;
	text-align: right;
	width: 40%;
	margin-right: 10%;
	text-shadow: 2px 2px rgb(20, 20, 20);
}

#title p {
	text-align: center;
}

