body {
	background-color: rgb(190, 190, 190);
	font-family: 'Open-Sans', Arial, sans-serif;
	font-weight: 400;
	margin: 0;
}

.inline {
	float: left;
}

div.section {
	height: 800px;
}

/* vertically center divs */
div.center-tile-wrap:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-left: -5px;
}

div.center-tile {
	display: inline-block;
 	vertical-align: middle;
}

p.large {
	font-size: 50px;
}

p.medium {
	font-size: 30px;
}