#social {
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(20, 20, 20, 0.5);
}

#social ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#social a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 14px 20px;
}

#social li.social a {
	padding: 12px 15px;
}

#social li.social img {
	display: block;
}

#twitter:hover {
	background-color: #00aced;
}

#facebook:hover {
	background-color: #3b5998;
}

#googleplus:hover {
	background-color: #dd4b39;
}

#linkedin:hover {
	background-color: #007bb6;
}

#flickr:hover {
	background-color: #ff0084;
}

#github:hover {
	background-color: rgb(240, 240, 240);
}