@(message: String)

@main("Max Keener") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">	
} {
	<div id="dog" class="section center-tile-wrap">
		<div class="center-tile">
			<span>My name is Max. This is my dog.</span>
		</div>	
	</div>
	<div id="hiking" class="section center-tile-wrap">
		<div class="center-tile">
			<span>I enjoy hiking...</span>
		</div>
	</div>
	<div id="photography" class="section center-tile-wrap">
		<div class="center-tile">
			<span>and a little photo graphy</span>
		</div>
	</div>

}
