@(message: String)

@main("Max Keener") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
	<script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>	
} {
	<div id="about_me">
		<img id="bio_pic" class="inline" src="https://s3-us-west-2.amazonaws.com/maxkeener/images/casper_head.jpg" />
		<div id="bio" class="inline">
			<h2>Hey There!</h2>
			<p>My name is Max Keener. I'm a software developer currently working for <a href="http://www.zappos.com">Zappos</a> in downtown Las Vegas. Check me out on social media, or learn more about me by scrolling down.
		</div>
		
	</div>
	<div id="dog" class="section center-tile-wrap">
		<div class="center-tile">
			<span>This is my dog.</span>
		</div>	
	</div>
	<div id="hiking" class="section center-tile-wrap">
		<div class="center-tile">
			<span>I enjoy hiking...</span>
		</div>
	</div>
	<div id="photography" class="section center-tile-wrap">
		<div class="center-tile">
			<span>and a little photo graphy</span>
		</div>
	</div>

}
