@(message: String)

@main("Max Keener") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">	
} {
	<div id="main" class="section center-tile-wrap">
		<div id="welcome" class="center-tile">
			<span>My name is Max and this is my doge</span>
		</div>	
	</div>
	<div class="section">
		<div id="title">
	    	<p class="large"> Hey there, I'm Max!</p>
	    	<p class="medium">This is my website. It's got a fancy toolbar.</p>
	    	<p class="medium">And a picture</p>
	        <p><img src="https://s3-us-west-2.amazonaws.com/maxkeener/images/casper_head.jpg" width="60%"/></p>
	        <p class="medium">that's me!</p>
	    </div>
	</div>

}
