<div id="social">
	<ul>
		<li class="social">
			<a id="twitter" href="https://twitter.com/max__keener">
				<image src="@routes.Assets.at("images/social/twitter.png")"/>
			</a>
		</li>
		<li class="social">
			<a id="facebook" href="https://www.facebook.com/keemax">
				<image src="@routes.Assets.at("images/social/facebook.png")"/>
			</a>
		</li>
		<li class="social">
			<a id="googleplus" href="https://plus.google.com/100801331550492451436">
				<image src="@routes.Assets.at("images/social/google+.png")"/>
			</a>
		</li>
		<li class="social">
			<a id="linkedin" href="http://www.linkedin.com/pub/max-keener/52/a97/12b">
				<image src="@routes.Assets.at("images/social/linkedin.png")"/>
			</a>
		</li>
		<li class="social">
			<a id="flickr" href="http://www.flickr.com/photos/max_keener">
				<image src="@routes.Assets.at("images/social/flickr.png")"/>
			</a>
		</li>
		<li class="social">
			<a id="github" href="https://github.com/keemax">
				<image class="light" src="@routes.Assets.at("images/social/github.png")"/>
				<image class="dark" style="display: none" src="@routes.Assets.at("images/social/github-dark.png")"/>
			</a>
		</li>
	</ul>
</div>